header{
    background-image: url("../images/banner1.png");
    width: 1350px;
    height:808px;

}
*{
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
    
}
main{width:1350px;
margin: 0%;}
.items{
    padding-top: 300px;
    padding-left: 250px;
    padding-right: 100px;
}

.h1-1{
    text-align: right;
    padding-bottom: 5px;
    font-style: bold;
    font-weight: 700px;
    size: 40px;
}
p{
    text-align: right;
    color: darkgray;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
    ;
}
.btn-primary{
    color: #ffff;
    padding: 12px;
    background-color: orangered;
    border: none;
    border-radius: 5px;}
    .button{

padding-left: 890px;
    }
    .main-section{
        display: flex;
        align-items:center;
        padding-left: 200px;
        padding-right:100px;
        padding-top: 5px;
        height: 720px;

    
        
    }
    .p-description{
    width: 400px;
    font-weight: 400px;
    size:16px;
    line-height: 26px;
    text-align: left;
    left: 860px;
    color: darkgray;
    padding-bottom: 10px;
    padding-top: 10px;
    }
    .images{
        width: 150px;
    ; height: 500px;
    
    left: 200px;
    }
    ul {
        list-style: none;

      }
      
      .ul-st li:before {
        content: '✓';
        color:#0eb360;
      } 
    .ul-st {

            color: grey;
            font-weight: 400px;
    size:16px;
    line-height: 26px; padding-left: 4px;
    
            
          }
          .main-text{
            padding-top:500px;
            padding-left:500px;
            text-align: left;
            padding-bottom: 10px;
            
            
          }
.section2{
    height: 300px;
padding-bottom: 50px;
padding-left: 20px;
padding-top: 200px;
padding-right: 20px;
text-align: center;

    

}
    .myplan{
        display: flex;
        padding: 50px;
        padding-left: 260px;
        
    }
    .us{
text-align: center;
    }
    .btn-2{
        color:orangered;
    padding: 12px; width: 120px;
background-color: #ffff;
    border: none;
    border-radius: 4px;
    font-style: bold;
    }

    
    .section3
    {
         
        height: 300px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-top: 200px;
        padding-right: 20px;
width: 1140px;
        border-radius: 8px;
    
        
    }
    .sec3{
        
        height: 300px;
        margin-left: 155px;
        background-image: url("../images/watch.png");
        background: linear-gradient(transparent, orangered), url("/examples/images/sky.jpg") no-repeat center, rgb(210, 216, 218);
        background-size: cover;
        

    }
    .mp{
        width: 450px;
        height: 180px;
        color: #ffff;
        padding-top: 100px;
        margin-left: 100px;
        
        
    }
    .padd{
        font-weight:700px;
    ;
    size: 40px;
    line-height: 30px;
    padding-bottom: 30px;
    }
    .icon{
        display: flex;
        gap: 10px;
        padding-left: 4px;
    
    }
    .foot{
        background-color: black;
        
    }
    .foot1{
        display: flex;
        justify-content: space-between;
        padding-right: 400px;
        height: 560px;
        
    }
    h3{
        color: #ffff;
        padding-bottom: 25px;
    }
    .emailbt{
        color: #ffff;
        height: 40px;
        background-color: black;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .h12{
color:#ffff;
    }
    .di1{
        width: 400px;
padding-left: 200px;
padding-top: 100px;
    }
    
    .di2{
    
        width: 300px; padding-left: 300px; padding-top: 160px;
    }
    